.ResultsContainer {
  background: #f7f7f8;

  .ResultsContainer__container {
    padding: var(--spacing-s);

    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      > div:first-child {
        width: auto;  
        display: inline-flex;
      }
    }

    @media (min-width: 1248px) {
      margin-left: auto;
      margin-right: auto;
      max-width: var(--container-width-xl);
      padding-left: 0;
      padding-right: 0;
      padding-top: 100px;
    }
  }

  .SortSelect {
    margin-bottom: 48px;
  }
}

.ResultsContainer__stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  .stats__count {
    font-size: 20px;

    @media (min-width: 768px) {
      margin-right: 24px;
    }
  }

  .stats__count strong {
    margin-right: 5px;
  }

  .stats__size {
    display: flex;
    align-items: center;
  }

  .SizeSelect {
    padding: 2px;
  }
}

.ResultsContainer__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  button.pagination__control {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  button.pagination__item {
    cursor: pointer;
    width: 36px;
    height: 36px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &.pagination__item--current {
      background-color: #000;
      color: #fff;
      border-radius: 25px;
    }
  }
}