@import '../../index.scss';

.FormContainer {
  position: relative;

  @media(min-width: var(--)) {
    margin-top: 80px;
  }
}

.FormContainer__form {
  label {
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: var(--spacing-3-xs);

    @media (max-width: 768px) {
      display: none;
    }
  }

  padding-bottom: 6px;
}

.form-element {
  margin-bottom: 16px;

  label {
    font-weight: bold;
  }

  > input, > button {
    @include input;
  }
}

.FormContainer__lower-fields {
  @media (min-width: 1248px) {
    display: flex;
    width: 894px;
    align-items: flex-start;
    margin-bottom: 16px;

    .form-element {
      width: 282px;
      margin-bottom: 0;

      &:not(:first-child) {
        margin-left: 24px;
      }
    }
  }  
}

.FormContainer__upper-fields {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
}
