button.SubmitButton {
  margin-bottom: 34.5px;
  background-color: black;
  width: 100%;
  height: 56px;
  --background-color: #000;
  --background-color-hover: --color-gold;
  --background-color-focus: --color-gold;
  --color-hover: #000;
  --color-focus: #000;

  &.submit-button--desktop {
    max-width: 258px;
  }
}