@import '../../../index.scss';

.SearchBarWrapper {
  flex: 1;

  label {
    font-weight: bold;
    display: inline-block;
  }

  input {
    @include input;
    line-height: $input-height;
  }
}

.SearchBar__input {
  &:focus-within input {
    @include focus-outline;
  }
}
